<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration page</title>
</head>
<body>
<h1>Registration page</h1>

<div th:if="${errors}">
    <h2>Errors was made</h2>
    <ul>
        <li th:each="error : ${errors}" th:text="${error}"></li>
    </ul>
</div>

<form th:method="POST"  th:action="@{/auth/registration}" th:object="${customer}">

    <label for="username">Write username: </label>
    <input type="text" name="username" id="username" th:value="${customer != null ? customer.username() : request.username()}"/>
    <br>
    <label for="password">Write password: </label>
    <input type="text" name="password" id="password" th:value="${customer != null ? customer.password() : request.password()}"/>
    <br>
    <label for="phoneNumber">Write phone number: </label>
    <input type="text" name="phoneNumber" id="phoneNumber" th:value="${customer != null ? customer.phoneNumber() : request.phoneNumber()}"/>
    <br>
    <label for="email">Write email: </label>
    <input type="text" name="email" id="email" th:value="${customer != null ? customer.email() : request.email()}"/>
    <br>
    <input type="submit" value="Registration"/>
</form>
</body>
</html>